<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
</head>
<body>
  
  <h1>Edit User Info</h1>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    
    <h2>User Info for <%=user.username%></h2>
    
    <form action="/users/<%=user.id%>?_method=PUT" method="POST">
      <input type="text" name="username" placeholder="new username">
      <input type="password" name="password" placeholder="new password">
      <input type="password" name="confirmPassword" placeholder="confirm new password">
      <button type="submit">Update User Info</button>
    </form>

    <br>
    
    <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
      <button type="submit">Delete This User?</button>
    </form>

</body>
</html>