<!DOCTYPE html>
<html>
<head>
  <title>New User</title>
</head>
<body>
  <h1>Create New User</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="password" name="confirmPassword" placeholder="confirm password">
      <button type="submit">Submit</button>
    </form> 

</body>
</html>